html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	position: relative;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

/* *************************************** */
/* RIGHT SIDE */
/* *************************************** */

.large-img-container {
	grid-column: 3 / -1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.img-text-container {
	position: relative;
	width: 90%;
}

.typed-text {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
	font-family: Helvetica;
	z-index: 100;
	background-color: rgba(101, 84, 87, 0.6);
	overflow: auto;
}

.upload-container {
	display: flex;
	flex-direction: column;
}

.large-input {
	padding: 3.5rem;
}

label {
	font-size: 1.2rem;
	font-weight: bold;
}

/* ************************ */
/* BUTTONS */
/* ************************ */

button {
	padding: 1% 4%;
}

.blue-btn {
	background-color: #2170ef;
	color: white;
}

.blue-btn,
.white-btn {
	font-weight: bold;
	border-radius: 3.5em;
	/* padding: 1%; */
	margin: 1%;
	border: none;
}

.blue-btn:hover,
.white-btn:hover {
	cursor: pointer;
	border: 1px solid black;
	transform: scale(1.1);
	transition: transform 1s;
}

.blue-btn:hover {
	color: #2170ef;
	background-color: white;
}

.white-btn:hover {
	color: #2170ef;
	background-color: white;
}

/* ********************************* */
/* ANIMATIONS */
/* ********************************* */

.grid-img-container {
	animation: slideFromLeft 1s ease 2s;
}
.large-img-container {
	animation: slideFromRight 1s ease 3s;
}

@keyframes slideFromLeft {
	0% {
		opacity: 0;
		tranform: translateX(-1000px);
	}
	50% {
		opacity: 0.5;
		tranform: translateX(0);
	}
	100% {
		opacity: ;
		tranform: translateX(0);
	}
}

@keyframes slideFromRight {
	0% {
		opacity: 0;
		tranform: translateX(1000px);
	}
	50% {
		opacity: 0.5;
		tranform: translateX(0);
	}
	100% {
		opacity: ;
		tranform: translateX(0);
	}
}

@keyframes slideFromTop {
	0% {
		opacity: 0;
		tranform: translateY(1000px);
	}
	50% {
		opacity: 0.5;
		tranform: translateY(0);
	}
	100% {
		opacity: ;
		tranform: translateY(0);
	}
}

/* ********************************************** */
/* MEDIA QUERIES */
/* ********************************************** */

@media (max-width: 1050px) {
	.container {
		/* grid-template-rows: auto; */
		grid-template-areas: "header header header header header header" "grid grid grid grid grid grid"
			"large large large large large large" "stock stock stock stock stock stock";
	}

	.links {
		grid-area: header;
		font-size: medium;
	}

	.large-img-container,
	.grid-img-container,
	.stock-container {
		/* display: block; */
		/* grid-column: 1/span 6; */
		/* border-bottom: 2px solid lightgray; */
		height: 100%;
	}

	.large-img-container {
		/* grid-row: 8/span 6; */
		grid-area: large;
	}

	.grid-img-container {
		/* grid-row: 2/span 6; */
		grid-area: grid;
	}

	.stock-container {
		grid-area: stock;
		grid-column: 1/span 6;
	}

	.large-img-container,
	.stock-container {
		margin-top: 10%;
	}
}

@media (max-width: 550px) {
	.grid-item > img {
		width: 100px;
		height: 100px;
	}

	.container {
		font-size: small;
	}
}
